<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="mask1 flex-center">
            <div class="copule container">
                <div class="row align-items-center py-5">
                    <div class="col text-light">
                        <h4>Present your <br>
                        awesome product</h4>
                        <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                        necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="container">
        <div class="content-1330 center-relative">
            <div class="button-group filters-button-group py-2">
                <div class="button is-checked" data-filter="*">Show All</div>
                <div class="button" data-filter=".post">Gallery</div>
                <div class="button" data-filter=".new">New</div>
            </div>
            <div class="container-fluid grid" id="portfolio">
                <div class="row mx-auto justify-content-center">
                    <div class="grid-item element-item p_one_third post">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt=""
                        data-toggle="modal" data-target="#exampleModalCenter1">
                        <div class="text-holder color-d">
                            <p>CLOCK</p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="cursor-p close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item element-item p_one_third new">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt=""
                        data-toggle="modal" data-target="#exampleModalCenter2">
                        <div class="text-holder color-d">
                            <p>BAG</p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="cursor-p close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item element-item p_one_third post">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt=""
                        data-toggle="modal" data-target="#exampleModalCenter3">
                        <div class="text-holder color-d">
                            <p>FISH</p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="cursor-p close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto justify-content-center">
                    <div class="grid-item element-item p_one_third new">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt="" 
                        data-toggle="modal" data-target="#exampleModalCenter4">
                        <div class="text-holder color-d">
                            <p>BOTTLE</p>
                        </div>                            
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="cursor-p close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item element-item p_one_third extern">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt=""
                        data-toggle="modal" data-target="#exampleModalCenter5">
                        <div class="text-holder color-d">
                            <p>PAPER</p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="cursor-p close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item element-item p_one_third post">
                        <img src="assets/img/item1.jpg" class="desvanecer cursor-p rounded-circle border border-warning" alt=""
                        data-toggle="modal" data-target="#exampleModalCenter6">
                        <div class="text-holder color-d">
                            <p>BLUE ICE</p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-img pt-7">
                                    <button type="button" class="close cursor-p" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets/img/item1.jpg" class="rounded-circle border border-warning" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pagination -->
<div class="container-fluid">
    <nav aria-label="Page navigation">
        <ul class="pagination mt-100 justify-content-center">
            <li class="page-item active"><a class="page-link bg-d border-d" href="#">1</a></li>
            <li class="page-item"><a class="page-link color-d" href="#">2</a></li>
            <li class="page-item"><a class="page-link color-d" href="#">3</a></li>
            <li class="page-item"><a class="page-link color-d" href="#">4</a></li>
            <li class="page-item"><a class="page-link color-d" href="#">5</a></li>
        </ul>
    </nav>
</div>