
<!-- First Section -->


<div class="container">

    
      <div class="row">
        <div class="col-md-12 col-sm-12 about-us">
            
            <h3>Our Profile</h3>
            <!-- <i class="fa fa-quote-left"></i> -->
            <p class="card card-body">
                Indian Business & Professional Council (IBPCRAK) established in 2012 is a non-profit body of 
                Indian businessmen and professionals based in Ras Al Khaimah in particular and U.A.E in general.
                 
                It represents Indian Business & Professional community in the emirate before the Government and 
                non Governmental authorities to address individual problem or problems of a trade or to
                solve general 
                problems of trade and industries of India & U.A.E. It also enjoys support and recognition of both the
                Indian embassy in Abu Dhabi and Consulate General of India, Dubai. IBPCRAK facilitates Indian Business & Professional community, in whatever ways possible to augment trade and commerce between the nations.

            </p>
            <!-- <p class="proboots bg-d btn-70 text-light">
              <a href="#" class="btn text-light">Ready</a>
            </p> -->
          
        </div>
      </div>
      

      <!-- row 2-->

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="client-cont">
            <h5>Membership Professional</h5>
            <i class="fa fa-quote-left"></i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p class="proboots bg-d btn-70 ">
              <a href="#" class="btn text-light">Ready</a>
            </p>
          </div>
        </div>
      </div>
      
      </div>
      
<br>

<!-- Golden Bar Section-->
<div class="carousel-inner" style="z-index: -999;">
  <div class="carousel-item active">
      <div class="mask1 flex-center">
          <div class="copule container">
              <div class="row align-items-center py-5">
                  <div class="col text-light text-center">
                      <h1 class="align-about">Know More</h1>
                      <h5 class="align-about">
                          Be part of IBPCRAK and we welcome you.
                      </h5>
                      
                  </div>
                  <div class="col text-light ">

                    
                      <p class="proboots">
                          <a routerLink="/contact" class="btn btn-ghost btn-ghost-white">Contact Us</a>
                        </p>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div><br><br></div>